[package]
name = "{{project_name}}"
version = "0.1.0"
edition = "2021"

[dependencies]
panic-halt = "0.2"
embedded-hal = "0.2"
arduino-hal = "0.1"
avr-device = "0.5"
ufmt = "0.2"

[dev-dependencies]
defmt = "0.3"
defmt-rtt = "0.4"

# Optimize for size in release builds
[profile.release]
opt-level = "s"
lto = true
codegen-units = 1
