[package]
name = "{{project_name}}"
version = "0.1.0"
edition = "2024"

[dependencies]
poem = "3.1.12"
tokio = { version = "1.53", features = ["full"] }
serde = { version = "1.0.229", features = ["derive"] }
serde_json = "1.0.151"
tracing = "0.1.41"
tracing-subscriber = "0.3.23"

[dev-dependencies]
reqwest = { version = "0.13.4", features = ["json"] }
