[package]
name = "{{project_name}}"
version = "0.1.0"
edition = "2021"

[dependencies]
panic-halt = "0.2"
cortex-m = "0.7"
cortex-m-rt = "0.7"
embedded-hal = "0.2"
stm32f4xx-hal = { version = "0.17", features = ["stm32f411"] }

[dev-dependencies]
defmt = "0.3"
defmt-rtt = "0.4"
panic-probe = { version = "0.3", features = ["print-defmt"] }

# Optimize for size in release builds
[profile.release]
opt-level = "s"
lto = true
codegen-units = 1
